@media screen and (max-width: 1280px) {
    .box-filme {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.5rem;
        justify-content: center;
        margin-left: 38px;
    }

    .box-poster {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 200px;
        ;
    }

    .box-informacoes {
        align-self: flex-start;
        max-width: 200px;
    }
}

.img {
    width: 200px;
    height: 300px;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {

    .chamada {
        display: flex;
        justify-content: center;
        background-color: #4F709C;
        padding: 1.5rem 1rem;
        margin-bottom: 2rem;
    }


}