header {
    width: 100%;
}

.chamada {
    width: 100%;
}

.tituloPrincipal {
    color: #FFF6E0 ;    
    text-decoration: none;
}

.tituloPrincipal:hover {
    text-decoration: none;
    color: #FFF6E0 ; 
}

.display {
    margin-top: 10px;
}
